<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Consulta de razas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="salir()">Cerrar sesión</button>
    </form>
  </div>
</nav>

<app-lista-perros></app-lista-perros>
<!--
<div class="list-group box">
  <p><b>Seleccione una raza para ver las fotos</b></p>
    <button type="button" class="list-group-item list-group-item-action depliegue">Dapibus ac facilisis in</button>
</div>
-->


